*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #1e81b0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.conteudo{
    background-color: blanchedalmond;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 9px 95px;
}

#btn-sortear{
    text-align: center;
    align-items: center;
    color: white;
    background-color: #1e81b0;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 9px;
    outline: none;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 90%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

#numMax{
    align-items: center;
    padding: 5px;
    margin: 9px;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.arrow{

    display: inline-block;
    transform: rotate(90deg);
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px){

body > h1 {
    font-size: 30px;
}


.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.conteudo{
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.conteudo > p {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.arrow{

    display: inline-block;
    transform: rotate(90deg);
    margin-bottom: 100px;
}

}